/* ==========================================================
   NAVIGATION
   ========================================================== */

/* nav, main { max-width: 60rem; margin: 2rem auto; } */
nav, main { max-width: 50rem; margin: 2rem auto; }

nav {
   gap: 2rem;
   display: flex;
   justify-content: flex-end;
}

nav a { color: var(--text); font-weight: 500; }
nav a:hover { color: var(--accent); }

/* ==========================================================
   TOGGLE THEME BUTTON
   ========================================================== */

#theme-toggle {
    border: none;
    background: none;

    padding: 0;

    color: inherit;
    font: inherit;

    cursor: pointer;
}

/* ==========================================================
   SECTION HEADER
   ========================================================== */
.section-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.section-header::after {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--divider);
}

/* ==========================================================
   FOOTER
   ========================================================== */

.footer-note { text-align: center; }
