.container {
  max-width: 800px;
}

/* Navbar */
.navbar {
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.navbar > .container {
  width: 100%;
}
.navbar-list {
  list-style: none;
  margin-bottom: 0;
}
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
}

/* General Styling */
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
}

/* Publications Section */
.publication-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0rem;
}

.publication-item {
  margin-top: 2rem;
  padding-left: 1rem;
  border-left: 3px solid #1EAEDB;
}

.publication-title {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
  margin-bottom: 0.6rem;
}

.publication-authors {
  color: #666;
  margin-bottom: 0.5rem;
}

.publication-meta {
  color: #888;
  font-style: italic;
  margin-bottom: 1rem;
}

/* Blog Posts */
.blog-entry {
  margin-bottom: 3rem;
}

.blog-entry h3 {
  margin-bottom: 0.2rem;
}

.blog-meta {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
