/* ==========================================================
   VARIABLES
   Design System
   ========================================================== */

/* ======================================================
   COLOR PALETTE
   ====================================================== */
   
:root {   
   --bg: #FAFAF8;
   --hover-bg: #F2F4F6;
   
   --hero-bg: #2D4965;
   --hero-text: #F8FAFC;
   
   --text: #1F2933;
   --muted: #5B6773;
   
   --accent: #2F5D8C;
   --accent-hover: #416F9E;
   
   --divider: #DCE6F2;
}


/* ======================================================
   TYPOGRAPHY
   ====================================================== */

:root {
   --font-body: "IBM Plex Sans", sans-serif;
   --font-heading: "IBM Plex Sans", sans-serif;
   --font-mono: "Geist Mono", monospace;
}


/* ======================================================
   DARK MODE
   ====================================================== */

html[data-theme="dark"] {
   --bg: #15191F;
   --hover-bg: #242321;

   --hero-bg: #2A4E76;
   --hero-text: #F8FAFC;
   
   --text: #E3EAF3;
   --muted: #A5B3C3;
   
   --accent: #8DB7EA;
   
   --divider: #2E3947;
}
