/* ==========================================================
   VARIABLES
   Design System
   ========================================================== */

:root {

    /* ======================================================
       COLOR PALETTE
       ====================================================== */

    --bg: #FAFAF8;

    --hero-bg: #6F4E37;
    --hero-text: #FAFAF8;

    --text: #222222;
    --muted: #666666;

    --accent: #6F4E37;
    --accent-hover: #8A6A3D;

    --divider: #E8E2D4;


    /* ======================================================
       TYPOGRAPHY
       ====================================================== */

    --font-body: "IBM Plex Sans", sans-serif;
    --font-mono: "Geist Mono", monospace;

    /* Font sizes */

    --font-size-h1: 1.500rem;
    --font-size-h2: 1.250rem;
    --font-size-h3: 1.125rem;
    --font-size-h4: 1.000rem;
    --font-size-bd: 0.875rem;
    --font-size-tn: 0.750rem;

    /* Font weights */

    --font-weight-h1: 600;
    --font-weight-h2: 600;
    --font-weight-h3: 600;
    --font-weight-h4: 600;
    --font-weight-bd: 400;
    --font-weight-nv: 500;

    /* Line heights */

    --line-height-bd: 1.50;

    /* ======================================================
       LAYOUT
       ====================================================== */

    --content-width: 800px;
    --hero-photo-size: 10rem;

    /* ======================================================
       SPACING
       ====================================================== */

    --margin-sec: 6rem;
    --margin-hr: 6rem;
    --margin-p-top: 0.8750rem;
    --margin-p-bot: 0.4375rem;
    --margin-nv: 2rem;

    --padding-ft: 1.5rem;

    --gap-nv: 2rem;

    /* ======================================================
       BORDERS
       ====================================================== */

    --hero-radius: 22px;
    --hero-photo-radius: 14px;
}
